/* ubuntu-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('src/fonts/ubuntu-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: url('src/fonts/ubuntu-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/fonts/ubuntu-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/fonts/ubuntu-v20-latin-300.woff') format('woff'), /* Modern Browsers */
         url('src/fonts/ubuntu-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/fonts/ubuntu-v20-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('src/fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('src/fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('src/fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('src/fonts/ubuntu-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: url('src/fonts/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/fonts/ubuntu-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('src/fonts/ubuntu-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/fonts/ubuntu-v20-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }

body {
    color: #fff;
    background: #0e0f0f;
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    user-select: none;
    -webkit-user-drag: none
}

.zalupa {
font-family: 'Ubuntu';   
position: absolute;
top: 50%;
left: 50%;
margin: 0 auto;
transform: translateX(-50%) translateY(-50%);
text-align: center;
z-index: 2;
}
.logo img {
    opacity: 0.15;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 0px;
}

.zalupa-text{
    margin: 25px 0;
    font-size: 40px;
    user-select: none;
    letter-spacing: 25px;
    text-shadow: 0 0 20px #ffffff;
}

.zalupa-media{
display: inline-flex;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.zalupa-media a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    display: flex;
    margin: 0 20px 0 0;
    text-shadow: 0 0 20px #ffffff;
    user-select: none;
}


